extends layout

block content
  script.
    const submit = () => {
      const year = document.getElementById('year').value;
      const month = document.getElementById('month').value;
      const day = document.getElementById('day').value;
      window.location.replace(`localhost:3000`);
      if(window.location.href == 'http://localhost:3000/'){
        window.location.href=`getFacts/?year=${year}&month=${month}&day=${day}`;
      } else {
        window.location.href = `?year=${year}&month=${month}&day=${day}`;
      };
    }
  h1= title
  p Welcome to #{chosenYear || title}
  p Choose a date to get facts
  select(id='month')
    each month in months 
      option( value="#{month}" selected=month == chosenMonth) #{month}
  select(id='day')
    -for (var i = 1; i <32; ++i) {
    option(selected=i == chosenDay value="#{i}") #{i}
    -}
  select(id='year')
    -for (var i = years-150; i <= years; ++i) {
    option(selected=i == chosenYear value="#{i}") #{i}
    -}

  button(onClick="submit()") Submit
  p facts about #{chosenMonth || ''} #{chosenDay || ''} #{chosenYear || ''}
