extends layout

block content
  h1= title
  p Welcome to #{title}
  p Choose a date and place to get facts
  select(id='month')
    each month, i in months 
      option( value="#{i + 1}" selected=i + 1 == monthStr) #{month}
  select(id='day')
    -for (var i = 1; i <32; ++i) {
    option(selected=i == chosenDay value="#{i}") #{i}
    -}
  select(id='year')
    -for (var i = years-150; i <= years; ++i) {
    option(selected=i == chosenYear value="#{i}") #{i}
    -}
  select(id='station')
    each station, stationName in stations
      option( value="#{station}" selected=station == chosenStation) #{stationName}

  button(onClick="submit()") Submit
